@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    color: #fff;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#view-clock{
    text-align: center;
    margin: 0 auto;
    font-size: 7rem;
    padding-top: 15rem;
    word-spacing: -134px;
    font-family: 'Inconsolata', monospace;
}
#view-user{
    text-align: center;
    padding: 3px;
    border-bottom: 2px solid #fff;
    font-size: 2rem;
    font-family: 'Gugi', cursive;
}
#view_weather{
    float: right;
    padding: 30px;
    font-weight: bold;
    font-family: 'Gugi', cursive;
}