@charset "utf-8";

.logo{
    display: flex;
    justify-content: space-between;
}
.logo>a{
    font-size: 25px;
    color: #fff;
    height: 35px;
    box-sizing: border-box;
    margin: 2px;
    background-color: #fdcf48;
    font-weight: bolder;
    letter-spacing: 0.2em;
    z-index: 99;
}
.logo>a>span{
    color: #7edaf3;
}

.logo>button{
    opacity: 0.5;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
    padding: 7px;
}

.menu a{
    display: block;
    color: #888888;
    padding: 20px;
    position: relative;
    font-weight: bolder;
}

.menu a:before{
    content: "";
    display: inline-block;
    background-color: #85daef;
    width: 0;
    height: 3px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 12px;
}
.menu a:hover:before{
   width: 100%;
   transition: 0.4s;
}

.menu {
	display: block !important;
}

/* --------------------------- */

/* banner */
.banner {
    background-image: linear-gradient(rgba(70, 255, 255, 0.1),rgba(70, 255, 255, 0.4)), url('../img/milkyway.png');
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 22vh;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 섭타이틀 */
.subtitle{
    color: #85daef;
    font-size: 3.7em;
    letter-spacing: -0.04em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin: 7px;
    padding-top: 70px;
}

.susubtitle{
    color: #a7aeb6;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
}
.direction {
    width: 70%;
    border: 1px solid #a7aeb6;
    margin: 0 auto;
}
.text{
    font-size: 0.8em;
    color: #9ea3a7;
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.4em;
}
.contact {
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    margin-bottom: 80px;
}
.contact>ul{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    margin-bottom: 30px;
}
.contact .icon{    
    font-size: 20px;
    color: #ffffff;
    padding: 9px;
    margin: 4px;    
    text-align: center;
    margin-bottom: 40px;
    z-index: 12;
    /* overflow: hidden; */
}

.contact a{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    text-align:center;
    background-color: #fece46;
    overflow: hidden;
}

.contact a:before{
    content: "";
    background-color: #7e5af3;
    color: white;
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 10;
}

.contact a:hover:before{
    width: 100%;
}

.contact a:hover .fab{
    transform: rotateY(360deg);
    transition: 1s;
}
.contact a:hover .far{
    transform: rotateY(360deg);
    transition: 1s;
}
.contact a .fab, .far{
    position: relative;
}

.contact img{
    opacity: 0.8;
    transform: scale(1);
}
.contact img:hover{
    transform: scale(1.3);
    opacity: 1;
    transition: 0.5s;
}

/* .blogo>li{
    background-color: #fece46;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;

    text-align: center;
    width: 2.3em;
    height: 2.3em;
    line-height: 2.3em;

    margin: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.blogo>li>a{
    color: #ffffff;
} */


/* 푸터 */
.footer {
    background-color: #535353;
    color: #9ea3a7;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    padding-bottom: 40px;
    line-height: 16px;
}


/* 태블릿 사이즈 */
@media all and (min-width:768px)
{
    .header{
        display: flex;
        justify-content: space-between;
    }
    .logo>button{
        display: none;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu {
        display: block;
    }

/* PC 사이즈 */
@media all and (min-width:1024px)
{
    .header{
        width: 1024px;
        margin: 0 auto;
    }
    .menu {
        display: block !important;
    }
    .logo>a{
        font-size: 30px;
        color: #ffffff;
        background-color: #fdcf48;
        font-weight: bolder;
    }
    .logo>a>span{
        color: #7edaf3;
    }
    .menu a{
        display: block;
        color: #888888;
        
        padding: 20px;
        font-weight: bolder;
    }
    
    /* --------------------------- */
    
    /* banner */
    .banner {
        background-image: linear-gradient(rgba(70, 255, 255, 0.1),rgba(70, 255, 255, 0.4)), url('../img/milkyway.png');
        background-position: center;
        background-size: cover;
    
        width: 100%;
        height: 22vh;
    }
    .banner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    /* 섭타이틀 */
    .subtitle{
        color: #85daef;
        font-size: 3.7em;
        letter-spacing: -0.04em;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        margin: 7px;
        padding-top: 100px;
    }
    }
}